<% @page_title = "Authentication | Sign up" -%>
<h1>Sign Up</h1>

<%= form_for(:user, :url => {:controller => 'authentication', :action => 'create'}) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password%>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
<%= link_to "Home", controller: 'static_pages', action: 'home' %>
