<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", controller: 'authentication', action: 'logout' %>
  <% else %>
    <%= link_to "Sign up", controller: 'authentication', action: 'create' %> or
    <%= link_to "log in", controller: 'authentication', action: 'authenticate' %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
